:root {
  --main-color-gray: rgb(53, 53, 53);
  --main-color-hover: rgb(107, 107, 107);
  --main-container-border: 8px 15px 15px 8px;
  --page-one-base-color: rgb(255, 252, 235);
  ;
}


html, body {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

body {
  background: rgb(153, 153, 153);
  color: rgb(53, 53, 53);
  font-family: 'Alegreya', serif;
  text-align: center;
}

h1 {
  font-family: 'Mrs Saint Delafield', cursive;
  font-size: 4em;
  margin: 0;
}

.drop-shadow-text {
  -webkit-box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.33);
  box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.33);
}

.content-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.main-container-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('./restaurant-inside.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px) grayscale(80%);
}

.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  height: 800px;
  width: 800px;
  justify-content: center;
  align-items: center;
}

.main-content-display-container {
  z-index: 4;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 700px;
  width: 640px;
  left: 60px;
  /* border-radius: var(--main-container-border); */
}

/* ----- MENU COVER STYLE ----- */

.main-container-cover-base {
  pointer-events: none;
  position: absolute;
  pointer-events: none;
  z-index: 2;
  height: 800px;
  width: 800px;
  border-radius: var(--main-container-border);
  background-image: url('./menu-cover.jpg');
  opacity: 1;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
}


.main-container-cover-base::after {
  pointer-events: none;
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(214, 214, 214, 0.3);
  border-radius: var(--main-container-border);
} 


.main-container-cover-overlay-1::before {
  pointer-events: none;
  position: absolute;
  height: 800px;
  width: 800px;
  left: 0;
  content: "";
  background: rgba(214, 214, 214,0.1);
  border-radius: var(--main-container-border);
  opacity: 1;
}

.main-container-cover-overlay-1 {
  pointer-events: none;
  position: absolute;
  z-index: 5;
  height: 800px;
  width: 800px;
  border-radius: var(--main-container-border);
  opacity: 1;
  -webkit-box-shadow: inset 0px 0px 25px 0px rgba(43,34,16,1);
  -moz-box-shadow: inset 0px 0px 25px 0px rgba(43,34,16,1);
  box-shadow: inset 0px 0px 25px 0px rgba(43,34,16,1);
}

.main-container-cover-overlay-1::after {
  pointer-events: none;
  position: absolute;
  left: 0;
  height: 800px;
  width: 800px;
  content: "";
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(70,70,70,1) 200%);
  border-radius: var(--main-container-border);
}

.main-container-cover-overlay-2 {
  pointer-events: none;
  z-index: 6;
  position: absolute;
  height: 800px;
  width: 800px;
  border-radius: var(--main-container-border);
  opacity: 1;
}

.img-cover-overlay-2 {
  pointer-events: none;
  height: 129px;
  width: 142px;
  background-repeat: no-repeat;
  background-image: url('./Menu-corner-piece.png');
}

.img-cover-top-corner {
  position: absolute;
  top: -5px;
  right: -12px;
  transform: rotate(-90deg);
  filter: brightness(80%);
}

.img-cover-bottom-corner {
  position: absolute;
  transform: scaleX(-1);
  right: -12px;
  bottom: -6px;
  transform: rotate(90deg) scaleY(-1);
  filter: brightness(70%);
}

.img-cover-overlay-beam {
  position: absolute;
  left: 0;
  height: 800px;
  width: 50px;
  opacity: .3;
  border-radius: 8px 2px 2px 8px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0.77+22,0+52,0+82,0.74+100 */
  background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.77) 22%, rgba(0,0,0,0) 52%, rgba(0,0,0,0) 82%, rgba(0,0,0,0.74) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.77) 22%,rgba(0,0,0,0) 52%,rgba(0,0,0,0) 82%,rgba(0,0,0,0.74) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.77) 22%,rgba(0,0,0,0) 52%,rgba(0,0,0,0) 82%,rgba(0,0,0,0.74) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#bd000000',GradientType=1 ); /* IE6-9 */
}

/* MENU COVER STYLE: Intro.js

/* Logo */
.logo-main-container {
  height: auto;
  width: 100%;
}

.logo-container {
  height: auto;
  width: 100%;
}

.logo-text {
  height:100%;
  width: 100%;
}

.svg-logo-text {
  font-family: 'Mrs Saint Delafield', cursive;
  font-size: 3em;
  fill: var(--main-color-gray);
  height: auto;
  width: 100%;
}

.logo-slogan {
  height: auto;
  font-size: 1.5em;
  margin: -2.5em;
}

.enter-container {
  height: auto;
  width: 100%;
  color: var(--main-color-gray);
  fill: var(--main-color-gray);
  transition: color 500ms linear, fill 500ms linear;
}

.enter-container:hover {
  height: auto;
  width: 100%;
  fill: var(--main-color-hover);
  color: var(--main-color-hover);
}

.svg-icon-plate-container {
  height: auto;
  width: auto;
}

.svg-icon-plate {
  height: 101px;
  width: 101px;
  opacity: 0.9;
}

.enter-text-container {
}

.enter-text {
  font-size: 1.5em;
}

/* ----- PAGE ONE STYLE ----- */

.page-one-underlay-1 {
  pointer-events: none;
  position: absolute;
  left: 30px;
  z-index: 3;
  
  
  background: rgb(255, 252, 235);
  height: 750px;
  width: 700px;
  
  border-radius: 1px;
  -webkit-box-shadow: -1px 0px 5px -1px rgba(0,0,0,0.8);
  -moz-box-shadow: -1px 0px 5px -1px rgba(0,0,0,0.8);
  box-shadow: -1px 0px 5px -1px rgba(0,0,0,0.8);

}

.page-one-underlay-1::after {
  pointer-events: none;
  position: absolute;
  left: 0;
  content: "";
  height: 750px;
  width: 750px;
  filter: grayscale(100%);
  background-repeat: repeat;
  background-image: url('./leaf-background.gif');
  filter: grayscale(100%) opacity(.04);
}

.main-container-page-one-overlay-1::before {
  pointer-events: none;
  position: absolute;
  height: 800px;
  width: 800px;
  left: 0;
  content: "";
  background: rgba(214, 214, 214,0.1);
  border-radius: var(--main-container-border);
  opacity: 1;
}

.main-container-page-one-overlay-1 {
  pointer-events: none;
  position: absolute;
  z-index: 5;
  height: 800px;
  width: 800px;
  border-radius: var(--main-container-border);
  opacity: .6;
  -webkit-box-shadow: inset 0px 0px 25px 0px rgba(43,34,16,1);
  -moz-box-shadow: inset 0px 0px 25px 0px rgba(43,34,16,1);
  box-shadow: inset 0px 0px 25px 0px rgba(43,34,16,1);
}

.main-container-page-one-overlay-1::after {
  pointer-events: none;
  position: absolute;
  left: 0;
  height: 800px;
  width: 800px;
  content: "";
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(70,70,70,1) 200%);
  border-radius: var(--main-container-border);
  
}

.page-one-underlay-2 {
  pointer-events: none;
  position: absolute;
  z-index: 3;
  left: 48px;
  height: 715px;
  width: 660px;
  margin: auto;
  border: 2px solid rgba(0,0,0,0.15);
  border-radius: 2px;
  
}

/*------ TABS ------- */

.page-one-underlay-tabs {
  position: absolute;
  left: 30px;
  z-index: 2;
  height: 750px;
  width: 700px;
  border-radius: 1px;
}

.page-one-tabs-container {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: -50px;
  height: 680px;
  width: 50px;
  border-radius: 0 10px 60px 0;
}

/* BUTTONS */

.page-one-tabs-btns-overlay {
  pointer-events: none;
  positioN: absolute;
  left: 30px;
  height: 750px;
  width: 700px;
}
.page-one-tabs-btns-container {
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: -50px;
  height: 680px;
  width: 50px;
  background: red;
}

.page-one-tabs-btn {
  height: 200px;
  width: 50px;
}

/* END - BUTTONS */ 

.page-one-tab-container {
  position: absolute;
  height: 200px;
  width: 50px; 
  opacity: 1;
  -webkit-box-shadow: -1px 0px 5px -1px rgba(0,0,0,0.8);
  -moz-box-shadow: -1px 0px 5px -1px rgba(0,0,0,0.8);
  box-shadow: -1px 0px 5px -1px rgba(0,0,0,0.8);
  border: 1px solid rgba(214, 214, 214, 0.3);
}

.page-one-tab-one {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--page-one-base-color);
  border-radius: 0 0 60px 0;
}

.page-one-tab-two {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--page-one-base-color);
  border-radius: 0 0 60px 0;
  top: 160px;
  left: -2px;
}

.page-one-tab-three {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--page-one-base-color);
  border-radius: 0 0 60px 0;
  top: 320px;
  left: -4px;
}
.page-one-tab-four {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--page-one-base-color);
  top: 480px;
  border-radius: 0 0 60px 0;
  left: -6px;
}



 /* ACTIVE */

 .page-one-active-tabs {
  position: absolute;
  z-index: 4;
  height: 750px;
  width: 700px;
}
 .page-one-active-tab-1-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: -50px;
  height: 200px;
  width: 50px;
  border-radius: 0 10px 60px 0;
  background: var(--page-one-base-color);
}
.page-one-active-tab-2-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: -50px;
  height: 360px;
  width: 50px;
  border-radius: 0 10px 60px 0;
}

.page-one-active-tab-3-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: -50px;
  height: 520px;
  width: 50px;
  border-radius: 0 10px 60px 0;
  background: green;
}

.page-one-active-tab-4-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: -50px;
  height: 660px;
  width: 50px;
  border-radius: 0 10px 60px 0;
  background: yellow;
}

.page-one-active-tab-container {
  position: absolute;
  height: 200px;
  width: 54px; 
  opacity: 1;
}

.page-one-active-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--page-one-base-color);
}

.no-border-radius {
  border-radius: 0;
}

.page-one-active-tab-one {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--page-one-base-color);
  border-radius: 0 0 60px 0;
}

.page-one-active-tab-one-flat {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--page-one-base-color);
  border-radius: 0 0 0 0;
}

.page-one-active-tab-two {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--page-one-base-color);
  border-radius: 0 0 60px 0;
  top: 160px;
}

.page-one-active-tab-two-flat {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--page-one-base-color);
  border-radius: 0 0 0 0;
  top: 160px;
}

.page-one-active-tab-three {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--page-one-base-color);
  border-radius: 0 0 60px 0;
  top: 320px;
}

.page-one-active-tab-three-flat {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--page-one-base-color);
  border-radius: 0 0 0 0;
  top: 320px;
}

.page-one-active-tab-four {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--page-one-base-color);
  border-radius: 0 0 60px 0;
  top: 480px;
}


.page-one-tab-text {
  font-family: 'Alegreya', serif;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: -.2em;
  font-size: 0.9rem;
}


/* ----- HOME ----- */

.home-top-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-feature-container {
  display: flex;
  height: auto;
  width: 100%;
}

.home-logo-container {
  height: 100px;
  width: 300px;
}

.img-home-logo {
  left: calc(50% - 150px);
  position: absolute;
  height: auto;
  width: 300px;
  transition: left 1.5s ease-in-out, opacity 1s ease-in-out;
  opacity: 1;

}

.animate-slide-left-in {
  left: -50px;
  opacity: 0;
}

/* BOX STYLE 1 */
.box-style-1-container-100 {
  border: 2px solid rgba(214, 214, 214, 0.9);
  min-height: 100px;
  width: 100%;
}

.box-style-1-container-50 {
  border: 2px solid rgba(214, 214, 214, 0.9);
  min-height: 100px;
  width: 50%;
}



/* SEPARATOR STYLES */
.box-separator-container {
  height: 100%;
  width: 80px;
}

.svg-box-separator-container {
  height: 100%;
  width: 100%;
}

.svg-box-separator-line {
  stroke: rgba(0, 0, 0, 0.116);
  stroke-width: 2px;
  stroke-linecap: round;
}

/* --------------------------------- */
/*         MEDIA QUERIES            */
@media (max-width: 575.98px) {
  
  html, body {
    min-height: 100vh;
    width: auto;
  }

  .content-wrapper {
    min-height: 100vh;
    width: auto;

  }

  /* Force the display and overlay containers to be
        screen size */
  .main-container {
    border-radius: 5px;
    height: 100%;
    width: 110%;
    margin-left: -12px;
    /* overflow: hidden; */
  }

  .main-container-background {
    border-radius: 5px;
    height: 100%;
    width: 110%;
    margin-left: -12px;
    /* overflow: hidden; */
    display: none;
  }

  .main-container div, .main-container div::before, .main-container div::after {
    border-radius: 5px;
    width: 110vw;
    height: 100%;
    /* overflow: hidden; */
  }

  .svg-logo-text {
    font-size: 4em;
  }
  
  .logo-slogan {
    font-size: 1.0em;
    margin: -1.9em;
  }

  .img-cover-overlay-beam {
    display: none;
  }
  
  .img-cover-overlay-2 {
    display: none;
  }


  .page-one-tabs-container {
    display: none;
  }


}

@media (max-width: 767.98px) { 

}

@media (max-width: 991.98px) { 

}

@media (max-width: 1199.98px) { 

}

/* ----------- FIRST CHANGE: MOVED OUT OF MAIN-CONTAINER ---------- */

/* .main-container-cover-base::before {
  position: absolute;
  height: 800px;
  width: 800px;
  content: "";
  background: rgba(214, 214, 214,0.1);
  border-radius: var(--main-container-border);
  opacity: 1;
}

.main-container-cover-base {

  z-index: 3;
  height: 800px;
  width: 800px;
  border-radius: var(--main-container-border);
  opacity: 1;
  -webkit-box-shadow: inset 0px 0px 25px 0px rgba(43,34,16,1);
  -moz-box-shadow: inset 0px 0px 25px 0px rgba(43,34,16,1);
  box-shadow: inset 0px 0px 25px 0px rgba(43,34,16,1);
}


.main-container-cover-base::after {
  pointer-events: none;
  position: absolute;
  height: 800px;
  width: 800px;
  content: "";
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(70,70,70,1) 200%);
  border-radius: var(--main-container-border);
}  */

/* -------------- ORIGINAL ----------------- */

/* 
.main-container::before {
  position: absolute;
  height: 800px;
  width: 800px;
  content: "";
  background: rgba(214, 214, 214,0.1);
  border-radius: var(--main-container-border);
  opacity: 1;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  z-index: 3;
  height: 800px;
  width: 800px;
  border-radius: var(--main-container-border);
  opacity: 1;
  -webkit-box-shadow: inset 0px 0px 25px 0px rgba(43,34,16,1);
  -moz-box-shadow: inset 0px 0px 25px 0px rgba(43,34,16,1);
  box-shadow: inset 0px 0px 25px 0px rgba(43,34,16,1);
}

.main-container::after {
  pointer-events: none;
  position: absolute;
  height: 800px;
  width: 800px;
  content: "";
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(70,70,70,1) 200%);
  border-radius: var(--main-container-border);
} 

.main-container-cover-base {
  
} */
